.wpdev-galaxy {
	float: left;
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
}
.wpdev-solar-system {
	position: relative;
	max-width: 1440px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}
.wpdev-hero-banner-content h1 {
	color: #fff;
	font-size: 48px;
	line-height: 1.2;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}
.wpdev-hero-banner-content h1 span {
	color: #0cb1f9;
}
.wpdev-hero-banner-content p {
	color: #e5e5e5;
	font-size: 20px;
	line-height: 1.4;
	font-family: "Poppins", Sans-serif;
}

.wpdev-solar-orbit-1 {
	width: 1600px;
	height: 165%;
	border-radius: 100%;
	z-index: 100;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%)!important;
	border: solid 1px rgba(255, 255, 255, 0.1);
	z-index: 1;
}
.wpdev-solar-orbit-2 {
	width: 1480px;
	height: 165%;
	border-radius: 100%;
	z-index: 100;
	position: absolute;
	top: 111%;
	left: 50%;
	transform: translate(-50%,-50%)!important;
	border: solid 1px rgba(255, 255, 255, 0.1);
	z-index: 1;
}
.wpdev-solar-orbit-3 {
    width: 1340px;
    height: 165%;
    border-radius: 100%;
    z-index: 100;
    position: absolute;
    top: 121%;
	left: 50%;
	transform: translate(-50%,-50%)!important;
    border: solid 1px rgba(255, 255, 255, 0.1);
    z-index: 1;
}
.wpdev-planet-icon {
	opacity: 0.8;
	height: 60px;
	width: 60px;
	background-color: #fff;
	padding: 12px;
	box-sizing: border-box;
	border-radius: 50%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}
.wpdev-planet-icon:hover{
    opacity: 1;
}

/* planet-icons start for orbit 1 */
@-webkit-keyframes wpdev-planet-icon-1 {
	from {
		-webkit-transform: rotate(-56deg) translateY(-880px) rotate(56deg);
	}
	to {
		-webkit-transform: rotate(56deg) translateY(-830px) rotate(-56deg);
	}
}
.wpdev-planet-icon-1 {
	position: absolute;
	top: 830px;
	left: 50%;
	margin: -14px 0 0;
	-webkit-animation: wpdev-planet-icon-1 40s infinite linear alternate;
	animation: wpdev-planet-icon-1 40s infinite linear alternate;
	z-index: 200;
}

@-webkit-keyframes wpdev-planet-icon-2 {
	from {
		-webkit-transform: rotate(20deg) translateY(-820px) rotate(-20deg);
	}
	to {
		-webkit-transform: rotate(-50deg) translateY(-870px) rotate(50deg);
	}
}
.wpdev-planet-icon-2 {
	position: absolute;
	top: 800px;
	left: 50%;
	margin: 0 0 0;
	-webkit-animation: wpdev-planet-icon-2 40s infinite linear alternate;
	animation: wpdev-planet-icon-2 40s infinite linear alternate;
	z-index: 200;
}

@-webkit-keyframes wpdev-planet-icon-3 {
	from {
		-webkit-transform: rotate(50deg) translateY(-830px) rotate(-50deg);
	}
	to {
		-webkit-transform: rotate(-20deg) translateY(-850px) rotate(20deg);
	}
}
.wpdev-planet-icon-3 {
	position: absolute;
	top: 810px;
	left: 50%;
	margin: 0 0 0;
	-webkit-animation: wpdev-planet-icon-3 40s infinite linear alternate;
	animation: wpdev-planet-icon-3 40s infinite linear alternate;
	z-index: 200;
}
/* planet-icons end for orbit 1 */


/* planet-icons start for orbit 2 */
@-webkit-keyframes wpdev-planet-icon-4 {
	from {
		-webkit-transform: rotate(-30deg) translateY(-860px) rotate(30deg);
	}
	to {
		-webkit-transform: rotate(58deg) translateY(-680px) rotate(-58deg);
	}
}
.wpdev-planet-icon-4 {
	position: absolute;
	top: 780px;
	left: 56%;
	margin: -5px 0 0;
	-webkit-animation: wpdev-planet-icon-4 40s infinite linear alternate;
	animation: wpdev-planet-icon-4 40s infinite linear alternate;
	z-index: 200;
}

@-webkit-keyframes wpdev-planet-icon-5 {
	from {
		-webkit-transform: rotate(40deg) translateY(-730px) rotate(-40deg);
	}
	to {
		-webkit-transform: rotate(-58deg) translateY(-780px) rotate(58deg);
	}
}
.wpdev-planet-icon-5 {
	position: absolute;
	top: 726px;
	left: 50%;
	margin: -14px 0 0;
	-webkit-animation: wpdev-planet-icon-5 50s infinite linear alternate;
	animation: wpdev-planet-icon-5 50s infinite linear alternate;
	z-index: 200;
}

@-webkit-keyframes wpdev-planet-icon-6 {
	from {
		-webkit-transform: rotate(-56deg) translateY(-560px) rotate(56deg);
	}
	to {
		-webkit-transform: rotate(56deg) translateY(-990px) rotate(-56deg);
	}
}
.wpdev-planet-icon-6 {
	position: absolute;
	top: 780px;
	left: 32%;
	margin: -5px 0 0;
	-webkit-animation: wpdev-planet-icon-6 40s infinite linear alternate;
	animation: wpdev-planet-icon-6 40s infinite linear alternate;
	z-index: 200;
}
/* planet-icons end for orbit 2 */


/* planet-icons start for orbit 3 */
@-webkit-keyframes wpdev-planet-icon-7 {
	from {
		-webkit-transform: rotate(-74deg) translateY(-680px) rotate(74deg);
	}
	to {
		-webkit-transform: rotate(74deg) translateY(-620px) rotate(-74deg);
	}
}
.wpdev-planet-icon-7 {
	position: absolute;
	top: 630px;
	left: 50%;
	margin: -14px 0 0;
	-webkit-animation: wpdev-planet-icon-7 60s infinite linear alternate;
	animation: wpdev-planet-icon-7 60s infinite linear alternate;
	z-index: 200;
}

@-webkit-keyframes wpdev-planet-icon-8 {
	from {
		-webkit-transform: rotate(-60deg) translateY(-700px) rotate(60deg);
	}
	to {
		-webkit-transform: rotate(68deg) translateY(-640px) rotate(-68deg);
	}
}
.wpdev-planet-icon-8 {
	position: absolute;
	top: 660px;
	left: 50%;
	margin: -14px 0 0;
	-webkit-animation: wpdev-planet-icon-8 30s infinite linear alternate;
	animation: wpdev-planet-icon-8 30s infinite linear alternate;
	z-index: 200;
}

@-webkit-keyframes wpdev-planet-icon-9 {
	from {
		-webkit-transform: rotate(70deg) translateY(-640px) rotate(-70deg);
	}
	to {
		-webkit-transform: rotate(-70deg) translateY(-700px) rotate(70deg);
	}
}
.wpdev-planet-icon-9 {
	position: absolute;
	top: 660px;
	left: 50%;
	margin: -14px 0 0;
	-webkit-animation: wpdev-planet-icon-9 70s infinite linear alternate;
	animation: wpdev-planet-icon-9 70s infinite linear alternate;
	z-index: 200;
}
/* planet-icons end for orbit 3 */


/* @media screen and (max-width: 1280px) {
	.wpdev-solar-orbit-1 {
		top: 15%;
	}
	.wpdev-solar-orbit-2 {
		top: 28%;
	}
	.wpdev-solar-orbit-3 {
		top: 42%;
	}
} */
@media screen and (max-width: 1023px) {
	.wpdev-solar-orbit{
		display: none;
	}
	.wpdev-solar-system {
		width: 100%;
		align-items: center;
	}
	.wpdev-hero-banner-content {
		padding: 40px;
	}
}
@media screen and (max-width: 767px) {
	.wpdev-hero-banner-content h1 {
		font-size: 24px;
		line-height: 1.4;
	}
	.wpdev-hero-banner-content p {
		font-size: 16px;
	}
	.wpdev-hero-buttons {
		display: flex;
		flex-flow: column;
		margin: 20px;
	}
}