body {
	padding: 0;
	margin: 0;
}

.hero-section {	
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
	background: rgb(21, 21, 46);
}

/* hero content section style start */
.hero-section-content {
	height: 100%;
	max-width: 1380px;
	padding: 0px 16px;
	margin: auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.hero-section-content .title {
	text-align: center;
	color: white;
}
/* hero content section style end */