@media screen and (max-width: 1024px) {
	/* .wpdev-galaxy {
		height: 550px;
	} */
	/* .wpdev-solar-system {
		width: 950px;
	} */
	/* .wpdev-solar-orbit-1 {
		height: 172%;
		top: 19%;
	}
	.wpdev-solar-orbit-2 {
		height: 172%;
		top: 34%;
	}
	.wpdev-solar-orbit-3 {
		height: 172%;
		top: 50%;
	} */
	.wpdev-solar-orbit-1 {
		width: 1300px;
		height: 165%;
	}
	.wpdev-solar-orbit-2 {
		width: 1200px;
		height: 165%;
	}
	.wpdev-solar-orbit-3 {
		width: 1080px;
		height: 165%;
	}
	.wpdev-planet-icon {
		width: 48px;
		height: 48px;
	}

	@-webkit-keyframes wpdev-planet-icon-1 {
		from {
			-webkit-transform: rotate(-70deg) translateY(-500px) rotate(70deg);
		}
		to {
			-webkit-transform: rotate(78deg) translateY(-450px) rotate(-78deg);
		}
	}
	.wpdev-planet-icon-1 {
		top: 465px;
	}

	@-webkit-keyframes wpdev-planet-icon-4 {
		from {
			-webkit-transform: rotate(-40deg) translateY(-500px) rotate(40deg);
		}
		to {
			-webkit-transform: rotate(78deg) translateY(-320px) rotate(-78deg);
		}
	}

	.wpdev-planet-icon-4 {
		top: 430px;
	}
	@-webkit-keyframes wpdev-planet-icon-2 {
		from {
			-webkit-transform: rotate(10deg) translateY(-490px) rotate(-10deg);
		}
		to {
			-webkit-transform: rotate(-80deg) translateY(-490px) rotate(80deg);
		}
	}
	.wpdev-planet-icon-2 {
		top: 454px;
	}

	@-webkit-keyframes wpdev-planet-icon-3 {
		from {
			-webkit-transform: rotate(65deg) translateY(-470px) rotate(-65deg);
		}
		to {
			-webkit-transform: rotate(-80deg) translateY(-490px) rotate(80deg);
		}
	}
	.wpdev-planet-icon-3 {
		top: 444px;
	}

	@-webkit-keyframes wpdev-planet-icon-5 {
		from {
			-webkit-transform: rotate(30deg) translateY(-400px) rotate(-30deg);
		}
		to {
			-webkit-transform: rotate(-80deg) translateY(-420px) rotate(80deg);
		}
	}
	.wpdev-planet-icon-5 {
		top: 392px;
	}

	@-webkit-keyframes wpdev-planet-icon-6 {
		from {
			-webkit-transform: rotate(-30deg) translateY(-490px) rotate(30deg);
		}
		to {
			-webkit-transform: rotate(83deg) translateY(-300px) rotate(-83deg);
		}
	}
	.wpdev-planet-icon-6 {
		top: 417px;
		left: 58%;
	}

	@-webkit-keyframes wpdev-planet-icon-7 {
		from {
			-webkit-transform: rotate(-76deg) translateY(-340px) rotate(76deg);
		}
		to {
			-webkit-transform: rotate(74deg) translateY(-290px) rotate(-74deg);
		}
	}
	.wpdev-planet-icon-7 {
		top: 310px;
	}

	@-webkit-keyframes wpdev-planet-icon-8 {
		from {
			-webkit-transform: rotate(-40deg) translateY(-320px) rotate(40deg);
		}
		to {
			-webkit-transform: rotate(76deg) translateY(-290px) rotate(-76deg);
		}
	}
	.wpdev-planet-icon-8 {
		top: 298px;
	}

	@-webkit-keyframes wpdev-planet-icon-9 {
		from {
			-webkit-transform: rotate(70deg) translateY(-270px) rotate(-70deg);
		}
		to {
			-webkit-transform: rotate(-76deg) translateY(-320px) rotate(76deg);
		}
	}
	.wpdev-planet-icon-9 {
		top: 280px;
	}
}