@media screen and (max-width: 1600px) {
	.wpdev-galaxy {
		height: 700px;
	}
	.wpdev-hero-banner-content {
		padding-bottom: 40px;
	}
	.wpdev-hero-banner-content h1 {
		font-size: 42px;
	}
	.wpdev-hero-banner-content p {
		font-size: 18px;
	}
	.wpdev-hero-btn {
		padding: 15px 30px;
		font-size: 16px;
	}
	.wpdev-hero-buttons {
		margin: 50px auto 15px;
	}
	/* .wpdev-solar-system {
		width: 1400px;
	} */
	/* .wpdev-solar-orbit-1 {
		height: 190%;
		top: 19%;
	}
	.wpdev-solar-orbit-2 {
		width: 88%;
		height: 177%;
		top: 32%;
		left: 6%;
	}
	.wpdev-solar-orbit-3 {
		width: 74%;
		top: 46%;
		left: 13%;
		height: 148%;
	} */

	@-webkit-keyframes wpdev-planet-icon-1 {
		from {
			-webkit-transform: rotate(-60deg) translateY(-770px) rotate(60deg);
		}
		to {
			-webkit-transform: rotate(70deg) translateY(-700px) rotate(-70deg);
		}
	}
	.wpdev-planet-icon-1 {
		top: 735px;
	}

	@-webkit-keyframes wpdev-planet-icon-4 {
		from {
			-webkit-transform: rotate(-30deg) translateY(-775px) rotate(30deg);
		}
		to {
			-webkit-transform: rotate(70deg) translateY(-565px) rotate(-70deg);
		}
	}
	.wpdev-planet-icon-4 {
		top: 700px;
	}
	
	@-webkit-keyframes wpdev-planet-icon-2 {
		from {
			-webkit-transform: rotate(10deg) translateY(-730px) rotate(-10deg);
		}
		to {
			-webkit-transform: rotate(-70deg) translateY(-745px) rotate(70deg);
		}
	}
	.wpdev-planet-icon-2 {
		top: 688px;
	}

	@-webkit-keyframes wpdev-planet-icon-3 {
		from {
			-webkit-transform: rotate(50deg) translateY(-730px) rotate(-50deg);
		}
		to {
			-webkit-transform: rotate(-70deg) translateY(-755px) rotate(70deg);
		}
	}
	.wpdev-planet-icon-3 {
		top: 710px;
	}

	@-webkit-keyframes wpdev-planet-icon-5 {
		from {
			-webkit-transform: rotate(40deg) translateY(-640px) rotate(-40deg);
		}
		to {
			-webkit-transform: rotate(-68deg) translateY(-670px) rotate(68deg);
		}
	}
	.wpdev-planet-icon-5 {
		top: 630px;
	}

	@-webkit-keyframes wpdev-planet-icon-7 {
		from {
			-webkit-transform: rotate(-50deg) translateY(-585px) rotate(50deg);
		}
		to {
			-webkit-transform: rotate(57deg) translateY(-550px) rotate(-57deg);
		}
	}
	.wpdev-planet-icon-7 {
		top: 555px;
	}

	@-webkit-keyframes wpdev-planet-icon-6 {
		from {
			-webkit-transform: rotate(-30deg) translateY(-520px) rotate(30deg);
		}
		to {
			-webkit-transform: rotate(83deg) translateY(-780px) rotate(-83deg);
		}
	}
	.wpdev-planet-icon-6 {
		top: 573px;
		left: 36%;
	}

	@-webkit-keyframes wpdev-planet-icon-8 {
		from {
			-webkit-transform: rotate(-30deg) translateY(-585px) rotate(30deg);
		}
		to {
			-webkit-transform: rotate(58deg) translateY(-550px) rotate(-58deg);
		}
	}
	.wpdev-planet-icon-8 {
		top: 555px;
	}

	@-webkit-keyframes wpdev-planet-icon-9 {
		from {
			-webkit-transform: rotate(50deg) translateY(-540px) rotate(-50deg);
		}
		to {
			-webkit-transform: rotate(-60deg) translateY(-570px) rotate(60deg);
		}
	}
	.wpdev-planet-icon-9 {
		top: 530px;
	}
}